<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="first"></ion-menu-button>
  </ion-buttons>
  <ion-title>Screen 4</ion-title>
</ion-toolbar>
<ion-content color="dark">
  <ion-grid>
    <ion-row no-padding>
      <ion-col class="ion-text-end">
        <ion-icon size="large" style="color:red;" name="radio-button-on"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-start">
        <ion-icon size="large" style="color:grey;" name="radio-button-on"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-start">
        <span style="font-size: block;font-weight: bold">00.03</span>
      </ion-col>
      <ion-col col-20 col-offset-10>
        <span style="color:grey;">|</span>
      </ion-col>
      <ion-col no-padding col-20 col-offset-10>
        <ion-icon style="color:grey;font-size:block;font-weight: bold" name="arrow-round-forward"></ion-icon>
      </ion-col>
      <ion-col col-20 col-offset-10>
        <span style="font-size: block;font-weight: bold">00.00</span>
      </ion-col>
      <ion-col col-5 col-offset-10>
        <span style="font-size:block;font-weight: bold">.</span>
      </ion-col>
      <ion-col col-5 col-offset-10>
        <span style="font-size:block;font-weight: bold">.</span>
      </ion-col>
      <ion-col col-5 col-offset-10>
        <span style="font-size:block;font-weight: bold">.</span>
      </ion-col>
      <ion-col col-25 col-offset-10>
        <span>David&nbsp;Smith</span>
      </ion-col>
      <ion-col col-20 col-offset-10>
        <ion-icon size="medium" style="color:grey;" name="person"></ion-icon>
      </ion-col>
    </ion-row>
    <br>
    <ion-row padding>
      <ion-col>
        <ion-icon style="color:grey;position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;font-size: 60px;" name="unlock" padding></ion-icon>
      </ion-col>
    </ion-row>
    <br>
    <ion-row no-padding style="height:30%;">
      <ion-col pull-lg-50 margin-end class="ion-text-end">
        <p style="margin-left:50px;font-size: 40px;font-weight: bold;">QU</p>
      </ion-col>
      <ion-col class="ion-text-start" pull-lg-150 margin-center text-center
        style="width:170%;margin-left:30px;font-size: 40px;font-weight: bold;background-color: #483D8B">
        <p style="margin-left:40px;font-size: 35px;font-weight: bold;">CSQU305483&nbsp;&nbsp;</p>
      </ion-col>
      <ion-col pull-lg-50 margin-center class="ion-text-start">
        <p style="margin-left:50px;font-size: 40px;font-weight: bold">YA</p>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col margin-end class="ion-text-end">
      </ion-col>
      <ion-col class="ion-text-start" pull-lg-150 margin-center text-center
        style="width:170%;margin-left:30px;font-size: 40px;font-weight: bold;">
        <ion-button style="color:--ion-color-medium">
          <ion-icon name="logo-youtube"></ion-icon>&nbsp;&nbsp; COMPLETE MOVE
        </ion-button>
      </ion-col>
      <ion-col margin-center class="ion-text-start">
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col pull-lg-50 margin-end class="ion-text-end">
        <p style="margin-left:50px;font-size: 40px;font-weight: bold;">13&nbsp;&nbsp;</p>
      </ion-col>
      <ion-col class="ion-text-start" pull-lg-150 margin-center text-center
        style="width:170%;margin-left:30px;font-size: 40px;font-weight: bold;background-color: #483D8B">
        <p style="width:170%;margin-left:30px;font-size: 35px;font-weight: bold;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;22G1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </ion-col>
      <ion-col pull-lg-50 margin-center class="ion-text-start">
        <p style="margin-left:50px;font-size: 40px;font-weight: bold">02&nbsp;&nbsp;</p>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col pull-lg-50 margin-center text-center>
        <ion-icon style="color:grey;font-size: 50px" name="person" padding></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>