<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="first"></ion-menu-button>
  </ion-buttons>
  <ion-title>Screen 6</ion-title>
</ion-toolbar>
<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Header</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content no-padding style="
     border-radius: 20px !important;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
padding-top: 5px;">
    <ion-row style="height:4%;background-color:black; 
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;">
         <ion-col style="color: white;" class="icon-class  ion-text-center">START SHIFT</ion-col>
    </ion-row>
  </ion-content>
  <div style="position:fixed;top:13%;height:81.5%;width:100%;background-color: #DCDCDC">
    <p style="position: fixed;
       left: 27%;
       top: 30%;text-align: center">05/23/2019 <br><br>
       ENTER YOUR 6-DIGIT CODE <br><br>
       TO START YOUR SHIFT<br><br>
       <span style="font-weight: bold;">2 3 4 5 6 7</span>
    </p>
    <!-- <div style="background-color: black;color: blanchedalmond">asdas</div> -->
  </div>

  <ion-footer style="height:4%;background-color: skyblue; 
      border-bottom-left-radius: 15px;  
      border-bottom-right-radius: 15px;">
    <ion-row>
      <ion-col style="color: white;" class="icon-class  ion-text-center">END</ion-col>
    </ion-row>
  </ion-footer>
</ion-app>