<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="first"></ion-menu-button>
  </ion-buttons>
  <ion-title>Screen 1</ion-title>
</ion-toolbar>
<ion-content color="dark">
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-20 col-offset-10>
        <ion-icon size="large" style="color:red;" name="radio-button-on"></ion-icon>
      </ion-col>
      <ion-col col-20 col-offset-10>
        <ion-icon size="large" style="color:grey;" name="radio-button-on"></ion-icon>
      </ion-col>
      <ion-col col-20 col-offset-10>
        <span style="font-size: block;font-weight: bold">00.03</span>
      </ion-col>
      <ion-col col-20 col-offset-10>
        <span style="color:grey;">|</span>
      </ion-col>
      <ion-col no-padding col-20 col-offset-10>
        <ion-icon style="color:grey;font-size:block;font-weight: bold" name="arrow-round-forward"></ion-icon>
      </ion-col>
      <ion-col col-20 col-offset-10>
        <span style="font-size: block;font-weight: bold">00.00</span>
      </ion-col>
      <ion-col col-5 col-offset-10>
        <span style="font-size:block;font-weight: bold">.</span>
      </ion-col>
      <ion-col col-5 col-offset-10>
        <span style="font-size:block;font-weight: bold">.</span>
      </ion-col>
      <ion-col col-5 col-offset-10>
        <span style="font-size:block;font-weight: bold">.</span>
      </ion-col>
      <ion-col col-25 col-offset-10>
        <span>David&nbsp;Smith</span>
      </ion-col>
      <ion-col col-20 col-offset-10>
        <ion-icon size="medium" style="color:grey;" name="person"></ion-icon>
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row padding>
      <ion-col>
        <ion-icon style="color:grey;position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;font-size: 60px;" name="unlock" padding></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col>
        <p style="text-align: center;font-size: 40px;font-weight: bold">MOVES: 22</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p style="text-align: center;position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;font-size: 40px;font-weight: bold">EST. TIME: 08:15</p>
      </ion-col>
    </ion-row>
    <ion-row padding></ion-row>
    <ion-row padding></ion-row>
    <ion-row padding>
      <ion-col pull-lg-50 margin-center text-center>
        <ion-button color="danger">
          START SHIFT
        </ion-button>
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row padding>
      <ion-col pull-lg-50 margin-center text-center>
        <ion-icon style="color:grey;font-size: 50px" name="person" padding></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>