<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="first"></ion-menu-button>
  </ion-buttons>
  <ion-title>Screen 3</ion-title>
</ion-toolbar>
<ion-content color="dark" center text-center>
  <ion-grid no-padding>
    <ion-row class="ion-text-right">
      <ion-col size-xs="9">

      </ion-col>
      <ion-col size-xs="3">
        <ion-icon size="small" name="wifi"></ion-icon>
        <ion-icon size="small" name="cellular"></ion-icon>
        <ion-icon size="small" name="battery-dead"></ion-icon>
        <span style="font-size: block;font-size:18px;color:white">{{time | date :'h:mm' }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="center">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
              <ion-icon class="icon-class  ion-text-center" style="color:orangered; position:fixed;top:90%; font-size: 40px;"
              name="radio-button-on"></ion-icon>
            </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  <div class="center1">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item style="border-radius: 10px;">
              <ion-input  name="name" type="text" placeholder="username"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="center2">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item style="border-radius: 10px;">
                <ion-input  name="password" type="password" placeholder="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="center3">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                    <ion-button color="danger" size="medium" type="submit" expand="block">START SHIFT</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="center4">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                    <ion-button color="dark" size="small" type="submit" expand="block">Forgot Password ?</ion-button>
                  </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="center5">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                      <ion-icon class="icon-class  ion-text-center" style="color:grey; position:fixed;top:90%; font-size: 30px;"
                      name="unlock"></ion-icon>
                    </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="center6">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                        <ion-icon class="icon-class  ion-text-center" style="color:white; position:fixed;top:90%; font-size: 30px;"
                        name="mic"></ion-icon>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
</ion-content>