<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="first"></ion-menu-button>
  </ion-buttons>
  <ion-title>Screen 3</ion-title>
</ion-toolbar>
<ion-content color="dark">
  <ion-grid>
    <ion-row no-padding>
      <ion-col size="9">

      </ion-col>
      <ion-col size="1.8">
        <ion-icon name="wifi"></ion-icon>
        <ion-icon name="cellular"></ion-icon>
        <ion-icon name="battery-dead"></ion-icon>
      </ion-col>
      <ion-col size="1.5" no-padding>{{time | date :'h:mm' }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>