:root {
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark: #222428;
    --ion-background-color: #1e2023;
    
    }
    
      ion-input{
        --placeholder-color: black;
        --placeholder-opacity: 1;
      }
    
      $grid-columns:               12 !default;

      $grid-padding-width:         10px !default;
      
      $grid-padding-widths: (
        xs: $grid-padding-width,
        sm: $grid-padding-width,
        md: $grid-padding-width,
        lg: $grid-padding-width,
        xl: $grid-padding-width
      ) !default;

.text-input{
  text-transform: lowercase;
}

.center{
  position: fixed;
  top:30%;
  left:50;
  right:40%;
  align-content: center;
}

.center1{
  position: relative;
  top:20%;
  margin-left: 40%;
  left: 10%;
  margin-right: 45%;
}

.form{
 position: fixed;
 right:25%;
 left:35%;
 width: 39%;
 align-self: center;
}