:root {
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark: #222428;
    --ion-background-color: #1e2023;
    
    }
    
      ion-input{
        --placeholder-color: black;
        --placeholder-opacity: 1;
      }
    
      $grid-columns:               12 !default;

      $grid-padding-width:         10px !default;
      
      $grid-padding-widths: (
        xs: $grid-padding-width,
        sm: $grid-padding-width,
        md: $grid-padding-width,
        lg: $grid-padding-width,
        xl: $grid-padding-width
      ) !default;

.text-input{
  text-transform: lowercase;
}

.center{
  position: absolute;
  left: 45%;
  width:70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center6{
  position: fixed;
  left: 50%;
  width:70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.center1{
  position: absolute;
  left: 50%;
  top: 30%;
  width:70%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center2{
  position: absolute;
  left: 50%;
  top: 40%;
  width:70%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center3{
  position: absolute;
  left: 50%;
  top: 50%;
  width:70%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center4{
  position: absolute;
  left: 50%;
  top: 60%;
  width:70%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center5{
  position: fixed;
  left: 45%;
  top: 70%;
  width:70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center6{
  position: fixed;
  left: 45%;
  top: 90%;
  width:70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form{
 position: fixed;
 left:5%;
 width: 100%;
 align-self: center;
}



.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}